@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700);

a, u {
  text-decoration: none;
}

.navbar {
  font-size: 18px;
}


.App {
  text-align: center;
}

.test {
  position: relative;
  display: inline-block;
  width: 60%;
}

.icon-container {
  position: relative;
  top: 38%;
}

.icon-bar {
  position: relative;
  display: inline-flex;
  text-align: center;
  width: 80%;

}

.logo {
  width: 25%;
  min-width: 100px;
  display: flex;
  height: 100%;
  flex-shrink: 0;
}

.icon-bar img {
  display: inline-flex;
  text-align: center;
  opacity: .65;
  padding: 30px;
  width: 150px;
  margin: auto;
  height: 100%;
  margin-top: 10px;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.icon-bar img:hover {
  opacity: 2.0;
}


.background {
  background-image: url("./images/background1.png");
  background-size: cover;
  height: 550px;
  position: relative;
  text-align: center;
  width: 100%;

}

.search-title {
  top: 20%;
  color: #525252;
  font-family: "Avenir";
  position: relative;


}

.search-title .title {
  font-size: 43px;
  color: black;
  font-weight: 500;
  padding-bottom: 10px;


}

.search-title .subtitle {

  font-size: 28px;
  font-weight: 300;
  font-weight: lighter;

}

.search-bar {
  position: relative;
  top: 30%;



}

.search-bar form .inner-form {
  width: 100%;
  height: 100%;

}

.search-bar form .inner-form .input-field {

  position: relative;


}

.search-bar form .inner-form .input-field input {
  height: 100%;
  border: 0;
  display: block;
  width: 100%;
  padding: 10px 32px 10px 70px;
  font-size: 18px;
  height: 70px;
  color: black;
  background: white;


}

.search-bar form .inner-form .input-field input.placeholder {
  color: #525252;
  font-size: 18px;
  font-weight: 700;


}

.search-bar form .inner-form .input-field input:-moz-placeholder {
  color: #525252;
  font-size: 18px;
  font-weight: 700;

}

.search-bar form .inner-form .input-field input::-webkit-input-placeholder {
  color: #525252;
  font-size: 18px;
  font-weight: 400;


}

.search-bar form .inner-form .input-field input:hover,
.search-bar form .inner-form .input-field input:focus {
  box-shadow: none;

  outline: 0;
}

.search-bar form .inner-form .basic-search {

  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  height: 10%;
  border-radius: 15px;

}

.search-bar form .inner-form .basic-search .input-field {

  width: 100%;


}

.search-bar form .inner-form .basic-search .input-field input {
  padding: 10px 80px 10px 40px;

}

.search-bar form .inner-form .basic-search .input-field .icon-wrap {
  position: absolute;
  top: 0;
  right: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  width: 60px;
  height: 100%;
}
.icon-wrap img{
  -webkit-appearance: none;
}

.search-bar form .inner-form .basic-search .input-field .icon-wrap svg {
  width: 34px;
  height: 34px;
  fill: #525252;
  background-color: white;
}


.product {
  letter-spacing: initial;
  visibility: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  cursor: pointer;
  height: 100%;
  display: block;
  text-decoration: none;
  color: #656565;
}
.page{
 height: 100%;
 position: absolute;
 background-color: #f8f9fa;
 bottom: 0;
}
html, body, #wrapper, div#main {
  height: 100%;
}
.product-section {
  position: relative;
  width: 5%;
  
  height: 100%;
  
  margin-left: 52px;
  background-color: #f8f9fa;
  vertical-align: middle;
  display: table-cell;
}
.errorMessage{
  font-weight: 700;
  font-size: 22px;
  font-family: "Avenir";
  grid-column-start: 3;
  grid-row-start: 1;
}

.product-section .see-all {
  margin-right: 10px;
  font-size: 18px;
  color: #525252;
  position: relative;
  font-weight: 600;
  padding-top: 4px;
  border-style: solid;
  border-radius: 18px;
  border-width: medium;
  border-spacing: 100px 100px;
  outline-offset: 1px;
  opacity: .7;
  float: right;


}

.see-all-text {
  padding-top: 5px;

  position: relative;

}

.product-section .see-all:hover {
  opacity: 1;
  text-decoration: none;
}

.product-page {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  justify-content: center;
  grid-auto-rows: auto;
  grid-gap: 27px;
  margin: 0 auto;
  width: 94%;
  padding-top: 15px;
  padding-bottom: 50px;
}

.product-section .title {
  font-family: "Avenir";
  padding-top: 25px;
  padding-bottom: 15px;
  padding-left: 10px;
  font-weight: 600;
  margin: 0 auto;
  width: 91%;
}

.card {
  border-radius: 20px;
  font-family: "Avenir";
  color: #525252
}

.card-body {
  color: #525252
}

.sneaker-image {
  flex-shrink: 0;
  width: 80%;
  margin: 0 auto;
}

.default-image {
  opacity: .3;
  flex-shrink: 0;
  width: 150px;
  padding-top: 54px;
  padding-bottom: 54px;
  margin: 0 auto;
}

.card-img,
.card-img-bottom,
.card-img-top {
  flex-shrink: 0;
  width: 90%;
}

.card-title {
  font-weight: 500;
  font-size: 16px;
  height: 45px;
  padding-top: 2.5px;
  text-transform: uppercase;
  color: #525252;
  overflow-y: hidden;
}

.mini-card-body {
  flex: 1 1 auto;
  min-height: 5px;
  padding: 1.5rem;
  padding-top: 0rem;
}

.mini-card-price {
  font-weight: 600;
  font-size: 20px;
  color: black;
  overflow-y: hidden;

}

.mini-card-text {
  position: absolute;
  bottom: 1px;
  font-size: 13px;
}

.mini-card-text .on-text {

  font-size: 13px;
  font-weight: 400;
  color: #525252;
  padding-left: 3px;

}

.mini-card-text .mini-logo {
  width: 30%;
  height: auto;
  opacity: 0.65;
  padding-left: 3px;

}

.spinner-border {
  position: absolute;
  float: center;
  margin: 0 auto;
  margin-left: 45%;


  vertical-align: auto;

  
  grid-row-start: 1;
}

.product-title {
  font-family: "Avenir";
  padding-top: 25px;
  padding-bottom: 15px;
  padding-left: 10px;
  font-weight: 600;
  margin: 0 auto;
  width: 91%;
  font-size: 28px;
  color: #525252;
}

.product-key {
  color: black;
  font-size: 34px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.popupinner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  border-radius: 20px;
  background: white;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700);

* {
  box-sizing: border-box;
}

.procard {
  width: 1000px;
  height: 720px;
  border-radius: 12px;
  position: absolute;
  background: white;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease-in;
  z-index: 1;
}


.procard .header {

  width: 100%;
  color: #525252;
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 2px solid #efefef;
  font-size: 12px;
}

.nav-tabs {

  padding-top: 10px;
  float: right;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  color: #525252;
  text-transform: uppercase;
  border-bottom: 2px solid #efefef;
  font-size: 12px;


}


.arrow {

  float: left;
  height: 15px;
  width: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.heart {

  height: 24px;
  width: 24px;
  float: right;
  margin-top: -18px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.heart:hover {

  fill: red;

}

.photo {
  margin-top: 0px;
  padding: 30px;
  width: 45%;
  text-align: center;
  float: left;
  height: 50%;

}

.procard-img {
  width: 250px;
}

.description {
  height: 48%;
  padding: 25px;
  padding-top: 10px;
  float: left;
  width: 55%;
  border-left: 2px solid #efefef;
  font-family: "Avenir";



}

.description h2 {
  text-transform: capitalize;
  display: inline-block;
  max-height: 74px;
  min-height: 50px;
  overflow-y: hidden;
}



.slide .carousel-indicators li {
  background-color: #515151;
  margin-bottom: -30px;
}

button {
  outline: 0;
  border: 0;
  background: none;
  border: 1px solid #d9d9d9;
  padding: 8px 0px;
  margin-bottom: 30px;
  color: #515151;
  text-transform: uppercase;
  width: 125px;
  font-family: inherit;
  margin-right: 5px;
  transition: all 0.3s ease;
  font-weight: 500;
}

.carousel-item .goat-images {
  width: 100%;
  text-align: center;
  display: block;
  margin-right: 150px;

}

.carousel-item .default-image {
  transform: scale(1.25);

}

.carousel-item .sneaker-image {
  width: 70%;
  transform: scale(.75);
}

.carousel-control-next-icon {

  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23515151' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-control-prev-icon {

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23515151' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e") !important;
}

.photo .spinner {
  margin-top: 100px;
  margin-left: -900px;

}


.details .left-col {
  float: left;
  height: 100%;
}



.description .from-text {
  font-size: small;
  color: #525252;

}

.description .card-price {
  font-size: xx-large;
  font-weight: 500;
  margin-top: -5px;
}

.description .card-price .on-text {
  font-size: small;
  color: #525252;
  vertical-align: 30%;
  font-weight: 400;
}


.description .card-price .logo {
  transform: scale(.65);
  display: inline;
  height: auto;
  padding-right: 1px;
  margin-left: -27px;
  margin-top: -5px;
  opacity: 0.6;
}
.btn-lg{
  text-transform: capitalize;
}

.nav-link {
  float: right;
}

.tab-content {
  width: 100%;
  height: 110px;
  font-size: 14px;
  overflow-y: scroll;
}

.card-price button {
  padding: 0;
  width: 100px;
  height: 40px;
  font-size: 17px;
  font-weight: 500;
}

.tab-content .details {
  list-style-type: none;
  padding-left: 0;
  padding-top: 10px;
  margin: 0;
  overflow-y: hidden;

}

.scroll_bar::-webkit-scrollbar-thumb {
  background: rgba(72, 83, 105, 0.8);
  border: 0px none #ffffff;
  border-radius: 50px;
}

.tab-content::-webkit-scrollbar {
  -webkit-appearance: none;
}

.tab-content::-webkit-scrollbar {
  width: 10px;
}

.tab-content::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, .3);
}

.tab-content::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 8px;
}



.tab-content .details .tag {
  font-weight: 500;
}

.tab-content .about {
  padding-top: 5px;
  margin: 0;
}

.price-table {
  float: bottom;
  border-top: 2px solid #efefef;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: rgb(239, 239, 239);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 43.5%;

}

.price-table {
  font-size: 13px;
  font-family: "Avenir";



}

.price-table .spinner {
  margin-left: 3%;
  margin-top: 140px;

}

.table-card {
  box-shadow: 0 -1px 6px rgba(50, 50, 93, 0.1), 0 1px 3px rgba(0, 0, 0, 0.05);
  padding: 12px;
  padding-bottom: 1px;
  margin: 22px;
  border-radius: 7px;

}

.table-card img {
  width: 50px;
  opacity: 0.7;
  cursor: pointer;
}

.table th {
  border-top: 0px;
}

.table-card .goat-row {
  height: 50px;
}

.table-responsive {
  margin-bottom: 0rem;
  overflow-x: auto;
  width: 100%;
  height: 100%;

}

.table-responsive table {
  margin-bottom: 0rem;
  overflow-x: scroll;
}

.scroll_bar::-webkit-scrollbar-thumb {
  background: rgba(72, 83, 105, 0.8);
  border: 0px none #ffffff;
  border-radius: 50px;
}

.table-responsive::-webkit-scrollbar {
  -webkit-appearance: none;
}

.table-responsive::-webkit-scrollbar:horizontal {
  height: 10px;
}

.table-responsive::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, .3);
}

.table-responsive::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 8px;
}

.table-card a {
  color: #525252;
  text-decoration: none;
  background-color: none;
}

.table-card .min-price {
  color: green;
  text-decoration: none;
  background-color: none;
}
